body {
    font-family: 'Montserrat', sans-serif;
    margin:0 ;
    padding:0;
    border:0;
}

#home-jumbotron {
    background: green;
    background-image: url("https://images.pexels.com/photos/669228/pexels-photo-669228.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba( 0, 0, 0, 0.65);
}

.jumbotron-description {
    z-index: 9;
  }

  @media (max-width:576px) and (min-width: 10px) {
    .extra_small{
      text-align:center;
      font-size:2em ;
    }
   }
   @media (max-width:768px) and (min-width: 577px){ 
     .small{
      text-align:center;
      font-size:3em
    }
  }
   @media (max-width:992px) and (min-width: 769px) { 
     .table{
      text-align:center;
      font-size:4em;
    }
  }

  @media (max-width:1200px) and (min-width: 993px) {
    .escritorio{
      text-align:center;
      font-size:4em;
    }
   }
  
  @media (min-width: 1201px) {
    .super_grande{
      text-align:center;
      font-size:5em ;
    }
  } 

.salmon{
    background: linear-gradient(to right, salmon, #E91E63);
    padding:4rem;
}
.padding-20{
    padding: 20px;
}
.padding-4rem{
    padding: 4rem;
}


#contacto {
    background: #141414;
    color: white;
    padding: 70px;
  }
  
  .contactoclaro {
    color: rgba(255, 255, 255, 0.4);
  }

.tarjeta{
margin-left:10%;
margin-right: 10%;
}

.formulario{
    width: 65%;
}
  